/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2019, 4:26:40 PM
    Author     : Brillian Andrie Nugroho Wiguno <brillianandrie@gmail.com>
*/
.img-responsive > img {
    margin-bottom: 20px;
}

ol.list, ul.list{
    margin: 0 0 10px 15px;
}
ol.list  li, ul.list  li{
    list-style: unset !important;
    margin-left: 15px;
    font-size: 16px;
}

.bold{
    font-weight: bold;
    color: #333333;
}
.text-red{
    color: red;
}
.text-blue{
    color: blue;
}
.form-apen-apen{
    text-align: center;
    height: 155px;
    background-color: #e7f2fd;
    padding: 10px;
    margin: -20px 0 20px 0;
}
.form-apen-apen > a{
    margin: 10px 10px;
    background: #ff0000;
    color: #fff;
    padding: 13px 27px;
    text-decoration: none;
    border-radius: 20px;
    border-bottom: 2px solid #213601;
    font-size: 16px;
    font-family: Roboto;
}
.form-apen-apen > input{
    background-color: #ffffff;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0 33px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select.token{
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    padding: 10px;
}
